<% title = 'Login' %>

<%- include('partials/head'); %>
<%- include('partials/nav'); %>

<div class="container mt-5">
	<div class="card mx-auto" style="max-width: 540px;">
		<img src="<%= product.imagePath %>" class="card-img-top" alt="<%= product.name %>">
		<div class="card-body">
			<h5 class="card-title">
				<%= product.name %>
			</h5>
			<p class="card-text">
				<%= product.description %>
			</p>
			<p class="text-primary fw-bold">$<%= product.price %>
			</p>
			<form action="/addToCart/<%= product.id %>" method="POST">
				<div class="d-grid">
					<button type="submit" clas="btn btn-primary">Add to cart</button>
				</div>
			</form>
		</div>
	</div>
</div>

<%- include('partials/end'); %>